@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
img{
	border:none;
	}
input{
	border:none;
	}
body{
	font-family:Arial, Helvetica, sans-serif;
	}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	}
#header{
	background-color:#000;
	height:108px;
	}
.header_inner{
	margin:0 auto;
	height:84px;
	width:1286px;
	padding-top:24px;
	}
.header_inner ul{
	float:left;
	width:435px;
	}
.header_inner ul li{
	float:left;
	line-height:60px;
	text-transform:uppercase;
	}
.header_inner ul li a{
	color:#fff;
	font-size:18px;
	padding:0 30px;
	}
.header_inner_left li{
	border-right:1px #343434 solid;
	letter-spacing:0.5px;
	}
.header_inner_right li{
	border-left:1px #343434 solid;
	}
.header_inner_right li .prices{
	color:#fde722;
	}
.logo{
	float:left;
	width:416px;
	padding-top:15px;
	text-align:center;
	}
#header a:hover{
	color:#fde722;
	}
#icon{
	height:29px;
	width:871px;
	margin:0 auto;
	border-bottom:1px #ccc solid;
	position:relative;
	}
.icon_inner{
	height:26px;
	width:100px;
	background-color:#fff;
	position:absolute;
	left:385.5px;
	bottom:-12px;
	}
.icon_inner div{
	height:26px;
	width:27px;
	float:left;
	margin-left:16px;
	}
.icon_inner_twitter{
	background:url(../images/btn_twitter_facebook.png) no-repeat left top;
	}
.icon_inner_twitter:hover{
	background:url(../images/btn_twitter_facebook.png) no-repeat left bottom;
	}
.icon_inner_facebook{
	background:url(../images/btn_twitter_facebook.png) no-repeat right top;
	}
.icon_inner_facebook:hover{
	background:url(../images/btn_twitter_facebook.png) no-repeat right bottom;
	}
.icon_inner a{
	display:block;
	width:27px;
	height:26px;
	}
#main{
	width:1237px;
	height:1034px;
	margin:0 auto;
	}
.main_themes{
	height:274px;
	}	
.main_themes_one{
	float:left;
	width:447px;
	background:url(../images/bg_price_1.jpg) no-repeat left center;
	margin-top:129px;
	}
.main_themes p{
	line-height:20px;
	color:#000202;
	font-size:28px;
	text-transform:uppercase;
	padding-left:107px;
	}
.main_themes h2{
	line-height:38px;
	color:#000202;
	font-size:44px;
	font-weight:900;
	text-transform:uppercase;
	padding-left:94px;
	}
.main_themes_two{
	float:left;
	width:447px;
	background:url(../images/bg_price_2.jpg) no-repeat left center;
	margin-top:129px;
	}
.main_themes .main_themes_two p{
	padding-left:93px;
	}
.main_themes .main_themes_two h2{
	padding-left:133px;
	}
.main_themes_three{
	float:left;
	background:url(../images/bg_price_3.jpg) no-repeat left center;
	margin-top:129px;
	}
.main_themes .main_themes_three p{
	padding-left:85px;
	}
.main_themes .main_themes_three h2{
	padding-left:62px;
	}
.main-price{
	width:870px;
	height:163px;
	margin:0 auto;
	border-top:1px #ddd solid;
	border-bottom:1px #ddd solid;
	}
.main-price p{
	float:left;
	padding-left:30px;
	padding-top:10px;
	line-height:153px;
	color:#000100;
	font-size:26px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.main-price a{
	display:block;
	float:right;
	margin-right:30px;
	margin-top:40px;
	width:298px;
	height:73px;
	border-top:2px #ceb817 solid;
	border-right:2px #ceb817 solid;
	border-bottom:1px #ceb817 solid;
	border-left:2px #ceb817 solid;
	line-height:73px;
	color:#000;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	background:url(../images/prices-price-bj_03.jpg) repeat-x;
	text-transform:uppercase;
	}
.main-price a:hover{
	color:#fff;
	}
.main_list{
	height:596px;
	}	
.main_list h3{
	padding-top:28px;
	line-height:131px;
	color:#07010b;
	font-size:24px;
	font-weight:900;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:10px;
	}
.main_list_content{
	height:436px;
	}
.main_list_left{
	float:left;
	width:462px;
	}
.main_list_content ul li{
	background:url(../images/bg_star.jpg) no-repeat left center;
	padding-left:50px;
	line-height:37px;
	color:#62656e;
	font-size:18px;
	}
.main_list_right{
	float:left;
	width:312px;
	}
#check_price{
	height:121px;
	background-color:#f8f8f8;	
	border-bottom:1px #ddd solid;
	border-top:1px #ddd solid;
	}
.check_price_inner{
	width:675px;
	margin:0 auto;
	}
#check_price h5{
	float:left;
	line-height:121px;
	color:#030000;
	font-size:28px;
	letter-spacing:12px;
	}
#check_price a{
	display:block;
	width:46px;
	height:47px;
	background:url(../images/btn_next_prev.png) no-repeat right top;
	float:left;
	margin-top:41px;
	}
#check_price a:hover{
	background:url(../images/btn_next_prev.png) no-repeat right bottom;
	}
#yellow_tab{
	width:1200px;
	height:105px;
	margin:0 auto;
	margin-top:60px;
	background-color:#f8e338;
	margin-bottom:55px;
	}
.yellow_tab_left{
	padding-left:30px;
	float:left;
	}
.yellow_tab_left h5{
	line-height:36px;
	color:#030303;
	font-size:30px;
	font-weight:900;
	padding-top:23px;
	}
.yellow_tab_left p{
	line-height:25px;
	color:#000002;
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.yellow_tab_right{
	float:right;
	padding-right:24px;
	padding-top:32px;
	}
#yellow_tab a{
	display:block;
	width:130px;
	height:40px;
	background-color:#000;
	text-align:center;
	line-height:40px;
	font-size:14px;
	color:#fff;
	font-weight:900;
	text-transform:uppercase;
	border-radius:6px;
	}
#yellow_tab a:hover{
	color:#fbe440;
	}
#footer{
	height:438px;
	width:1200px;
	margin:0 auto;
	}
.footer_top{
	width:871px;
	height:10px;
	background-color:#000;
	margin:0 auto;
	}
.footer_bot{
	height:395px;
	margin-top:32px;
	}
.footer_bot_left{
	float:left;
	width:310px;
	}
.footer_bot h3{
	line-height:78px;
	font-size:24px;
	color:#010000;
	font-weight:bold;
	}
.footer_bot p{
	line-height:24px;
	font-size:14px;
	color:#4b5853;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.footer_bot_left a{
	margin-top:19px;
	}
.footer_bot_left a:hover{
	background:url(../images/signup-submit_10.jpg) repeat-x;
	}
.footer_bot_left a{
	display:block;
	width:180px;
	height:45px;
	border:1px #cdcdcd solid;
	background:url(../images/sjgnup-footer-input-bj_03.jpg) repeat-x;
	text-align:center;
	line-height:45px;
	font-size:14px;
	color:#333542;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	}
.footer_bot_mid_l{
	float:left;
	width:304px;
	}
.footer_bot_mid_l_txt{
	line-height:20px;
	color:#4b5853;
	font-size:14px;
	}
.footer_bot_mid_l h4{
	line-height:33px;
	color:#0a0009;
	font-size:12px;
	letter-spacing:1.5px;
	font-weight:bold;
	text-transform:uppercase;
	}
.footer_bot_mid_l ul{
	margin-top:3px;
	}
.footer_bot_mid_l ul li{
	padding-top:3px;
	line-height:24px;
	color:#4b5853;
	font-size:12px;
	}
.footer_bot_mid_l ul .footer_bot_mid_l_contact{
	padding-top:12px;
	}
.footer_bot_mid_l ul .footer_bot_mid_l_contact a{
	color:#000407;
	font-weight:bold;
	}
.footer_bot_mid_r{
	float:left;
	width:304px;
	}
.footer_bot_mid_r ul a{
	line-height:21px;
	color:#000104;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}
.footer_bot_mid_r ul a:hover{
	text-decoration:underline;
	}
.footer_bot_mid_r h2{
	line-height:68px;
	color:#000106;
	font-size:26px;
	margin-bottom:2px;
	font-weight:bold;
	}
.footer_bot_right{
	float:right;
	width:282px;
	}
.footer_bot_right_top{
	height:253px;
	border-bottom:1px #cdcdcd solid;
	}
.footer_bot_right form{
	margin-top:23px;
	}
.footer_bot_right .text{
	width:214px;
	height:41px;
	border-left:3px #dcdcdc solid;
	border-top:3px #dcdcdc solid;
	border-bottom:3px #dcdcdc solid;
	float:left;
	font-size:20px;
	color:#aeb3b6;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:17px;
	}
.footer_bot_right .GO{
	width:47px;
	height:47px;
	float:left;
	background:url(../images/btn_go.png) no-repeat right center;
	cursor:pointer;
	}
.footer_bot_right .GO:hover{
	background:url(../images/GO.jpg) no-repeat right center;
	}
.footer_bot_right_bot{
	height:141px;
	}
.footer_bot_right_bot p{
	line-height:19px;
	color:#5f6467;
	font-size:12px;
	margin-top:31px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.footer_bot_right .footer_bot_right_bot .act{
	margin-top:11px;
	}
.footer_bot_right .footer_bot_right_bot a{
	line-height:21px;
	color:#000600;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}
.footer_bot_right .footer_bot_right_bot a:hover{
	text-decoration:underline
	}



